html
  head
    title= title
  body
    #app
    script.
      window.INITIAL_I18N=!{i18n};
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js")
    script(src="/build/bundle.min.js")
